nav {
    background-color: rgba(0, 0, 0, 0.4);
    width: max-content;
    display: block;
    padding: 1rem 3.5rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    top: 83%;
    border: 1px solid black;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
    gap: 0.8rem;
    
}

nav a {
    padding: 0.8rem;
    display: flex-block;
    font-size: larger;
    border-radius: 50%;
    color: var(--color-light);
    transition: 0.4;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.2);
}

nav a.active {
    color: var(--color-white);
}

.ssalam {
    background: red;
}